@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;

    --radius: 0.25rem;
  }

  .dark {
    --background: 210 15% 12%;
    --foreground: 0 0% 100%;
    --card: 210 15% 18%;
    --card-foreground: 0 0% 100%;

    --popover: 210 15% 18%;
    --popover-foreground: 0 0% 100%;

    --primary: 210 100% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 100% 60%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 15% 25%;
    --muted-foreground: 0 0% 100%;

    --accent: 33 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 75% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 15% 20%;
    --input: 210 15% 18%;
    --ring: 210 100% 40%;

    --radius: 0.25rem;
  }

  .light {
    --background: 210 25% 90%;
    --foreground: 0 0% 0%;

    --card: 210 25% 99%;
    --card-foreground: 0 0% 0%;

    --popover: 210 25% 90%;
    --popover-foreground: 0 0% 0%;

    --primary: 210 100% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 100% 60%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 20% 90%;
    --muted-foreground: 0 0% 0%;

    --accent: 33 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 75% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 15% 95%;
    --input: 210 15% 18%;
    --ring: 210 100% 40%;

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth antialiased;
  }
  body {
    @apply bg-background font-sans text-foreground;
    @apply flex h-screen min-h-screen flex-col;
  }
}

.card-component {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
}

.slide {
  border-radius: 0.75rem;
  margin-top: 8%;
  align-items: center;
  justify-content: center;
  height: auto;
}

.swiper-3d {
  perspective: 280px;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .container {
    margin: 0;
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .slide {
    border-radius: 0.75rem;
    margin-top: 25%;
    align-items: center;
    justify-content: center;
  }
}

.content-container {
  height: 150px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .content-container {
    height: 250px;
    overflow-y: auto;
    margin-top: 15%;
  }
}

.swiper-container {
  overflow: visible;
  overflow-x: clip;
  width: 100%;

  max-height: 100vh;
  max-width: 100%;
}
.swiper-container::-webkit-scrollbar {
  display: none;
}

.swiper-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popup-style {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .popup-style {
    position: absolute;
    left: 0%;
    -top: -5%;
    bottom: 0%;
    box-shadow: 3cap;
  }
}

.popup-style-two {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .popup-style-two {
    position: absolute;
    left: 0%;
    -top: -5%;
    bottom: 0%;
    box-shadow: 3cap;
  }
}

.modal-content {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content-wrapper {
  width: 100%;
  max-width: 400px;
}

.swiper-pagination {
  z-index: 0;
}

.max-height-textarea {
  max-height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  resize: none;
}

.max-height-textarea::-webkit-scrollbar {
  display: none;
}

.invert-image {
  filter: invert(1);
}

.team-member-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Show three items per row */
  gap: 10px;
  padding: 10px;
  overflow: hidden; /* Hide overflow for the slider */
}

.team-member-item {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f90e;
}

.team-member-item img {
  width: auto; /* Let the image maintain its aspect ratio */
  max-width: 200px; /* Limit the maximum width */
  margin-bottom: 10px;
  border-radius: 50%;
}

.team-member-item button {
  display: inline-block;
  margin-top: 10px;
}

.team-member-item.dark-theme {
  background-color: #f9f9f9ab; /* Light theme background color */
}

.team-member-item.light-theme {
  background-color: #3333339a; /* Dark theme background color */
}

@media (max-width: 768px) {
  .team-member-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    gap: 10px;
    padding: 10px;
  }

  .team-member-item {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #f9f9f90e;
  }

  .team-member-item img {
    width: 50%; /* Adjust the percentage as needed */
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .team-member-item button {
    display: inline-block;
    margin-top: 10px;
  }
}

.team-info-swiper {
  z-index: 0;
}
